* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
}
.accordion-menu {
  width: 100%;
  max-width: 350px;
  margin: 60px auto 20px;
  background: #fff;
  border-radius: 4px;
}
.accordion-menu li.open .dropdownlink {
  color: #cddc39;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  transform: rotate(180deg);
}
.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}
.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 10px 15px 10px 45px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}
.submenuItems {
  display: none;
  background: #c8e6c9;
}
.submenuItems li {
  border-bottom: 1px solid #b6b6b6;
}
.submenuItems a {
  display: block;
  color: #727272;
  /*padding: 12px 12px 12px 45px;*/
  padding: 5px 12px 5px 45px;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: #cddc39;
  color: #fff;
}
